Задача:

Производственная система состоит из m станков,каждый из которых подвержен случайным поломкам.  Перед поломкой станок работает в течение промежутка времени, который представляет собой экспоненциально распределённую случайную величину со средним значением 8 часов.  Ремонтом станков занимается s ремонтников(где s — фиксированное положительное целое число). Для того, чтобы починить один станок, одному ремонтнику требуется экспоненциально распределенный промежуток времени со средним значением 2 часа; Ремонтом сломанного станка может заниматься только один ремонтник, даже если в это время есть другие свободные ремонтники. Если одновременно ломается более s станков, они формируют очередь на ремонт с дисциплиной FIFO и ждут первого свободного ремонтника.  Далее ремонтник чинит сломанный станок до тех пор, пока он не будет починен, независимо от того, что еще происходит в системе.  Предположим, что каждый час поломки одного станка стоит 50 долларов, а час работы ремонтника стоит 10 долларов.  (Ремонтникам платят почасовую оплату независимо от того, работают ли они на самом деле.) 

Предположим, что количество станков в системе равно m = 5, но напишите общий код, позволяющий учитывать значение m, достигающее 20, путем изменения входного параметра.

Смоделируйте систему ровно при 800 часах работы для каждой стратегии занятости ( s = 1, 2, 3, 4, 5 ) ,  чтобы определить, какая из них приводит к наименьшим ожидаемым средним затратам в час, допустив, что в момент времени 0 все машины только что были отремонтированы.

In [17]:
import numpy as np

def exponential_distribution(mean, size):
    return np.random.exponential(mean, size)

def simulate_system(m, s, hours):
    machine_working_time = exponential_distribution(8, m)
    machine_breakdown_time = np.zeros(m)
    total_cost = 0

    for hour in range(hours):
        for i in range(m):
            if machine_breakdown_time[i] == 0:
                machine_working_time[i] -= 1
                if machine_working_time[i] <= 0:
                    machine_breakdown_time[i] = exponential_distribution(8, 1)
            else:
                machine_breakdown_time[i] -= 1
                if machine_breakdown_time[i] <= 0:
                    machine_breakdown_time[i] = 0
                    machine_working_time[i] = exponential_distribution(8, 1)
                    total_cost += 50

        repair_queue = 0
        for i in range(m):
            if machine_breakdown_time[i] > 0:
                repair_queue += 1

        while repair_queue > 0:
            repair_time = exponential_distribution(2, 1)
            total_cost += s * 10
            repair_queue -= s
            if repair_queue < 0:
                total_cost -= (abs(repair_queue) * 10)

    return total_cost / hours


m_values = range(5, 21, 1)
s_values = range (1, 6, 1)

for m in m_values:
    for s in s_values:
        avg_cost = simulate_system(m, s, 800)
        print(f"Для кол-ва станков в системе m = {m} и кол-ва ремонтников s = {s}, ожидаемая средняя затрата в час: {avg_cost}")

/tmp/ipykernel_70078/2818158500.py:16: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  machine_breakdown_time[i] = exponential_distribution(8, 1)
/tmp/ipykernel_70078/2818158500.py:21: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  machine_working_time[i] = exponential_distribution(8, 1)

Для кол-ва станков в системе m = 5 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 40.55
Для кол-ва станков в системе m = 5 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 39.1625
Для кол-ва станков в системе m = 5 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 40.2625
Для кол-ва станков в системе m = 5 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 37.875
Для кол-ва станков в системе m = 5 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 40.3375
Для кол-ва станков в системе m = 6 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 48.9625
Для кол-ва станков в системе m = 6 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 47.5125
Для кол-ва станков в системе m = 6 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 48.25
Для кол-ва станков в системе m = 6 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 47.9625
Для кол-ва станков в системе m = 6 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 45.125
Для кол-ва станков в системе m = 7 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 56.75
Для кол-ва станков в системе m = 7 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 54.3375
Для кол-ва станков в системе m = 7 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 57.1625
Для кол-ва станков в системе m = 7 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 53.25
Для кол-ва станков в системе m = 7 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 56.4875
Для кол-ва станков в системе m = 8 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 64.4625
Для кол-ва станков в системе m = 8 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 62.425
Для кол-ва станков в системе m = 8 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 62.7875
Для кол-ва станков в системе m = 8 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 62.5875
Для кол-ва станков в системе m = 8 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 65.2
Для кол-ва станков в системе m = 9 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 71.475
Для кол-ва станков в системе m = 9 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 73.8125
Для кол-ва станков в системе m = 9 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 70.15
Для кол-ва станков в системе m = 9 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 70.775
Для кол-ва станков в системе m = 9 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 72.3625
Для кол-ва станков в системе m = 10 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 77.4875
Для кол-ва станков в системе m = 10 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 77.8125
Для кол-ва станков в системе m = 10 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 82.1625
Для кол-ва станков в системе m = 10 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 76.6875
Для кол-ва станков в системе m = 10 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 78.05
Для кол-ва станков в системе m = 11 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 88.0625
Для кол-ва станков в системе m = 11 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 89.6125
Для кол-ва станков в системе m = 11 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 86.8125
Для кол-ва станков в системе m = 11 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 83.675
Для кол-ва станков в системе m = 11 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 84.1625
Для кол-ва станков в системе m = 12 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 97.425
Для кол-ва станков в системе m = 12 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 97.5125
Для кол-ва станков в системе m = 12 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 94.5125
Для кол-ва станков в системе m = 12 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 94.4375
Для кол-ва станков в системе m = 12 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 92.9875
Для кол-ва станков в системе m = 13 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 102.65
Для кол-ва станков в системе m = 13 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 104.6
Для кол-ва станков в системе m = 13 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 103.3375
Для кол-ва станков в системе m = 13 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 103.55
Для кол-ва станков в системе m = 13 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 105.625
Для кол-ва станков в системе m = 14 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 112.5
Для кол-ва станков в системе m = 14 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 112.45
Для кол-ва станков в системе m = 14 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 109.475
Для кол-ва станков в системе m = 14 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 108.1625
Для кол-ва станков в системе m = 14 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 111.8625
Для кол-ва станков в системе m = 15 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 116.075
Для кол-ва станков в системе m = 15 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 120.4125
Для кол-ва станков в системе m = 15 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 117.825
Для кол-ва станков в системе m = 15 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 120.4125
Для кол-ва станков в системе m = 15 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 113.25
Для кол-ва станков в системе m = 16 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 123.9875
Для кол-ва станков в системе m = 16 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 126.7
Для кол-ва станков в системе m = 16 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 130.3875
Для кол-ва станков в системе m = 16 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 123.6125
Для кол-ва станков в системе m = 16 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 129.3875
Для кол-ва станков в системе m = 17 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 136.45
Для кол-ва станков в системе m = 17 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 135.9625
Для кол-ва станков в системе m = 17 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 133.225
Для кол-ва станков в системе m = 17 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 137.175
Для кол-ва станков в системе m = 17 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 134.175
Для кол-ва станков в системе m = 18 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 139.775
Для кол-ва станков в системе m = 18 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 142.8125
Для кол-ва станков в системе m = 18 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 143.4625
Для кол-ва станков в системе m = 18 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 143.225
Для кол-ва станков в системе m = 18 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 145.8375
Для кол-ва станков в системе m = 19 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 154.9125
Для кол-ва станков в системе m = 19 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 151.0875
Для кол-ва станков в системе m = 19 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 150.3875
Для кол-ва станков в системе m = 19 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 150.275
Для кол-ва станков в системе m = 19 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 152.6
Для кол-ва станков в системе m = 20 и кол-ва ремонтников s = 1, ожидаемая средняя затрата в час: 155.6875
Для кол-ва станков в системе m = 20 и кол-ва ремонтников s = 2, ожидаемая средняя затрата в час: 157.175
Для кол-ва станков в системе m = 20 и кол-ва ремонтников s = 3, ожидаемая средняя затрата в час: 158.025
Для кол-ва станков в системе m = 20 и кол-ва ремонтников s = 4, ожидаемая средняя затрата в час: 160.4125
Для кол-ва станков в системе m = 20 и кол-ва ремонтников s = 5, ожидаемая средняя затрата в час: 160.075

In [10]:
for m in m_values:
    for s in s_values:
        avg_cost = simulate_system(m, s, 800)
        print( m, s, avg_cost)

/tmp/ipykernel_70078/1322338542.py:16: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  machine_breakdown_time[i] = exponential_distribution(8, 1)
/tmp/ipykernel_70078/1322338542.py:21: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  machine_working_time[i] = exponential_distribution(8, 1)

5 1 40.8125
5 2 37.425
5 3 40.6
5 4 39.95
5 5 37.5625
6 1 45.7125
6 2 48.0
6 3 45.35
6 4 47.65
6 5 48.6375
7 1 56.2
7 2 55.3125
7 3 56.025
7 4 55.0375
7 5 55.4125
8 1 64.275
8 2 63.7875
8 3 62.55
8 4 63.35
8 5 62.25
9 1 70.3625
9 2 71.175
9 3 71.425
9 4 69.475
9 5 71.725
10 1 76.95
10 2 77.925
10 3 81.4375
10 4 77.3875
10 5 76.475
11 1 85.95
11 2 89.525
11 3 89.1625
11 4 87.4875
11 5 89.625
12 1 94.3375
12 2 92.15
12 3 97.575
12 4 95.425
12 5 94.1375
13 1 105.675
13 2 102.7125
13 3 103.075
13 4 104.8625
13 5 104.0875
14 1 109.9625
14 2 108.9
14 3 109.6875
14 4 107.05
14 5 110.65
15 1 115.6375
15 2 117.3125
15 3 119.7375
15 4 118.775
15 5 118.925
16 1 127.4625
16 2 126.2625
16 3 125.45
16 4 128.8375
16 5 129.1375
17 1 135.225
17 2 137.175
17 3 135.9875
17 4 133.1125
17 5 130.1125
18 1 139.65
18 2 141.7875
18 3 142.125
18 4 139.825
18 5 143.3
19 1 152.6625
19 2 149.95
19 3 149.575
19 4 149.225
19 5 151.125
20 1 158.2125
20 2 157.2
20 3 159.025
20 4 159.4
20 5 156.975

In [14]:
import pandas as pd
data = pd.read_csv('output_1.txt', sep = ' ', header = None)
data.columns = ['m', 's', 'avg_cost']
data

     m  s  avg_cost
0    5  1   40.8125
1    5  2   37.4250
2    5  3   40.6000
3    5  4   39.9500
4    5  5   37.5625
..  .. ..       ...
75  20  1  158.2125
76  20  2  157.2000
77  20  3  159.0250
78  20  4  159.4000
79  20  5  156.9750

[80 rows x 3 columns]

In [18]:
# Ожидаемая средняя затрата в час, если в системе m станков и 1 ремонтник 
avg_cost_1 = data.loc[data['s'] == 1] 
avg_cost_1

     m  s  avg_cost
0    5  1   40.8125
5    6  1   45.7125
10   7  1   56.2000
15   8  1   64.2750
20   9  1   70.3625
25  10  1   76.9500
30  11  1   85.9500
35  12  1   94.3375
40  13  1  105.6750
45  14  1  109.9625
50  15  1  115.6375
55  16  1  127.4625
60  17  1  135.2250
65  18  1  139.6500
70  19  1  152.6625
75  20  1  158.2125

In [ ]:
# Ожидаемая средняя затрата в час, если в системе m станков и 2 ремонтника

In [ ]:
# Ожидаемая средняя затрата в час, если в системе m станков и 3 ремонтника

In [ ]:
# Ожидаемая средняя затрата в час, еесли в системе m станков и 4 ремонтника

In [16]:
# Ожидаемая средняя затрата в час, если в системе m станков и 5 ремонтников
data.loc[data['s'] == 5]

     m  s  avg_cost
4    5  5   37.5625
9    6  5   48.6375
14   7  5   55.4125
19   8  5   62.2500
24   9  5   71.7250
29  10  5   76.4750
34  11  5   89.6250
39  12  5   94.1375
44  13  5  104.0875
49  14  5  110.6500
54  15  5  118.9250
59  16  5  129.1375
64  17  5  130.1125
69  18  5  143.3000
74  19  5  151.1250
79  20  5  156.9750